<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoneyMaker.UI.Light.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <userSettings>
    <MoneyMaker.UI.Light.Properties.Settings>
      <setting name="HandHistoryFolder" serializeAs="String">
        <value>E:\TexasHoldem\888Poker\HandsHistory\Cash</value>
      </setting>
      <setting name="FileTrackingFolder" serializeAs="String">
        <value>E:\TexasHoldem\888Poker\HandsHistory\VipNeborak</value>
      </setting>
      <setting name="Hero" serializeAs="String">
        <value>VipNeborak</value>
      </setting>
      <setting name="CommitCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="IsManualInitializing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeInTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_Hands" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_PFR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_VPIP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_Win" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_Profit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_ATS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_AF" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_3B" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_BB" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_EP_PFR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_MP_PFR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_LP_PFR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_EP_VPIP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_MP_VPIP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_LP_VPIP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_AF_Flop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_AF_Turn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Stat_AF_River" serializeAs="String">
        <value>True</value>
      </setting>
    </MoneyMaker.UI.Light.Properties.Settings>
  </userSettings>
</configuration>